PDS_HOSTNAME=localhost
PDS_PORT=2583
PDS_DID_PLC_URL=http://plc-directory:3000
PDS_BSKY_APP_VIEW_URL=http://leaf-server:5530
PDS_JWT_SECRET=local-dev-jwt-secret
PDS_ADMIN_PASSWORD=local-dev-admin-password
PDS_INVITE_REQUIRED=false
